[% WRAPPER site_wrapper.tmpl %]
[% USE Dumper %]

        <h1>[% heading %]</h1>
        <span class="body">[% body %]</span>
        <span class="page">[% page %]</span>
[% IF error=='' or error<=0; %]
[% IF heading; '<h1>'; heading; '</h1>'; END %]
<script type="text/javascript" src="/js/javascriptAES.js"></script>
<script type="text/javascript" src="/js/create_pw.js"></script>
<form class="editAlias" name="form" method="post" onsubmit="return false;">
                <div class="center">
                <table style="width:10%" class="editAlias">
[% destination = ref.0.ea_touser _ '@' _ ref.0.ea_at %]
<tr><th>Alias</th><th>Destination</th></tr>
<tr><td>
<input type="hidden" name="from" value="[% ref.0.ea_userid %]" />
<input type="hidden" name="to" value="[% destination %]" />
<input type="hidden" name="domain" value="[% ref.0.ea_doid %]" />
        [% ref.0.ea_userid %]@[% ref.0.domains.do_name %]
</td>
<td>
        <input type="text" size="100" maxlength="200" name="destination" value="[% ref.0.destination || destination  %]" />
</td>


</table>
</div>
Optional Additional data:
                <table class="editAlias">
<tr><th>Website</th><th><a onClick="document.getElementById('57ivCMhw9').value=randomPassword(16)" title="Click for random password">Password</a></th><th>Encryption key</th><th colspan="3">Action&nbsp;</th></tr>
<tr>
<td>
<input type="text" name="website" value="[% ref.0.aliasdetails.ead_website %]" /></td><td>
<input id="57ivCMhw9" type="text" size="28" maxlenth="220" name="passwd" 
value="[% ref.0.aliasdetails.ead_password || '' %]" autocomplete="off" onmouseout="suggest_passwd('57ivCMhw9','[% silent_password %]','[% password_size %]')"></td><td>
<input class="key" size="10" maxlength="250" type="password" name="key" value="" /></td><td>
<input type="hidden" name="save" value="save" />
<input class="save button blue" type="submit" name="Save" value="Save" onClick="encryptFormText(Save); this.form.key.type='text'; this.form.onsubmit=false;" /></td><td>
<input class="small button orange" type="button" name="clear" value="Clear password and key" onClick="clearForm();" /></td><td>
<input class="small button red" type="button" name="Show" value="Show" 
onmouseover="this.form.onsubmit='return false;'" onClick="javascript:decryptText('57ivCMhw9', 'Enter the decryption key:', this.form.key.value); this.form.onsubmit='return false;'; onSubmit='return false' " />
<input class="small button green" type="button" name="encrypt" value=" Encrypt " title=" If you want to encrypt your password then you have to enter a secret key.               The key will not be sent to the server" onClick="encryptFormText();" />
</td></tr>
<tr><th colspan="5">Notes</th><th>Status</th></tr>
<tr><td class="radio" colspan="5"><textarea class="ead_notes" name="notes" rows="5" cols="90">[% ref.0.aliasdetails.ead_notes %]</textarea><input type="hidden" name="editAlias" value="[% ref.0.ea_id %]" /></td> 
        <!-- form method="POST" action="/cgi-bin/index.cgi/email/edit_alias/[% f.ea_userid %]/[% f.ea_doid %]/" -->
<td class="radio">

  <table class="borderless"><tr><td>Enabled:</td><td class="borderless"><input class="radio" type="radio" name="status" value="enabled" [%-
UNLESS ref.0.ea_suspended; 'checked="checked"'; END -%] /></td></tr>
  <tr><td>Suspended:</td><td><input class="radio" type="radio" name="status" value="disabled" [% IF ref.0.ea_suspended; 'checked="checked"'; END -%] /></td></tr>
  </table>

</td></tr>

</table>
</form>
<br />
<center>
<span class="centre-right-forestgreen">
 You can secure your password using a secret key. <br />This is used to encrypt the password BEFORE it is sent to the server, <br />(client side AES encryption in javascript - neat, if you understand that, and if you don't it is still neat.)<br />
</span>
 Pressing the Encrypt button is optional, (just so you can see it in action) as the save button will also encrypt if you have entered a key
</center>

[% Dumper.dump(ref.2.do_name) %]
[% END #IF %]
[% END #WRAPPER %]
