[% WRAPPER site_wrapper.tmpl %]
 [% USE Dumper %]
        <span class="body">[% body %]</span>
        <span class="page">[% page %]</span>
 [% IF error=='' %]
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
    <td class="content" height="2">
<table class="ip">
      <tr>
        <th class="ip"><a href="[%- c.query.url -%]?sort=ea$col_order">Account</a></th>
[%- IF pe_level >= 500 -%]
   <th class="ip">Server</th>
[%- END #IF level 500 -%]
   <th class="ip">Quota (Megabytes)</th>
[%- IF pe_level >= 10 -%]
        <th class="ip">Home</th>
        <th class="ip">User ID</th>
        <th class="ip">Group ID</th>
[%- END #IF level 10 -%]
[%- IF pe_level >= 4 -%]
    <th class="ip_center" colspan="3">Action</th>
[%- END #IF level 4 -%]
      </tr>

  [% FOREACH e = imap %]
         <tr class="[% loop.parity %] nowrap">
[%- # im_userid  im_doid im_passwd  im_home  im_uid  im_gid  im_server  im_quota  im_peid  im_pkid  im_auth  im_mode  im_dir_mode -%]
           <td>[% e.im_userid  or '' %]@[% key = 'do_name'; e.domains.$key || c.param('id'); %]</td>
[%- IF pe_level >= 500 -%]
           <td>[% e.im_server %]</td>
[%- END #IF level 500 -%]
           <td>[% e.im_quota %]</td>
           <td>[% e.im_home %]</td>
           <td>[% e.im_uid %]</td>
           <td>[% e.im_gid %]</td>
           <td class="nowrap">
        <form method="POST" action="[%- c.query.url -%]/email/imap">
        <input type="hidden" name="userid" value="[%- e.im_userid -%]" />
        <input type="hidden" name="doid" value="[%- e.im_doid -%]" />
        <input class="small red button" type="submit" name="Delete" value="Delete" />
        </form>
       </td>
        </tr>
    [% END #FOREACH %]
</table>
[%- pagination -%]
 [% #Dumper.dump(imap) %]
 [% END #IF %]
[% END #WRAPPER %]
