[% WRAPPER site_wrapper.tmpl %]
 [% USE Dumper %]
        <h1>[% heading %]</h1>
        <span class="body">[% body %]</span>
        <span class="page">[% page %]</span>
 [% IF error=='' %]
  [% IF heading; '<h1>'; heading; '</h1>'; END %]
<table class="email">
<tr valign="top">
        <th class="ip"><a href="$page?sort=ipp_name$col_order&amp;ud=$ud">Alias</a></th>
        <th class="ip"></th>
        <th class="ip">Destination</th>
        <th class="ip">Edit</th>
        <!--th class="ip"><a href="$page?sort=ipp_VLAN$col_order&amp;ud=$ud">destination</a></th-->
     </tr>
      [% FOREACH f = alias %]
         <tr class="[% loop.parity %] nowrap">
           <td>[% f.ea_userid  or '' %]@[% key = 'do_name'; f.domains.$key || c.param('id'); %]</td>
            <td> =&gt; </td>
           <td>[% f.ea_touser %]@[% f.ea_at %]</td>
           <td class="nowrap">
        <form method="POST" action="/cgi-bin/index.cgi/email/edit_alias/[% f.ea_userid %]/[% f.ea_doid %]/">
        <input class="edit button green" type="submit" name="Edit" value="Edit Details" />
        </form>
       </td>
        </tr>
    [% END #FOREACH %]
</table>
 [% #Dumper.dump(alias) %]
 [% END #IF %]
[% END #WRAPPER %]
