<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>[% title or template.title or "Notice CRaAM" %]</title>
<link rel="stylesheet" href="/css/[% template.css or 'main.css' %]" />
<meta name="description" content="Notice CRaAM" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="keywords" content="extended, customer, resource, management, system, for, internet, companies" />
<script type="text/javascript" src="/js/jquery.js"></script>
</head>
<body>
 [% content %]
</body>
</html>
