<html>
<head>
<title>Log In</title>
</head>
<body onLoad="document.loginform.authen_username.focus();">
<h2>Please login:</h2>
<TMPL_IF ERROR>
  <p style="color:red">ERROR - Please try again.</p>
</TMPL_IF>
<p> </p>
<form name="loginform" method=POST action="<TMPL_VAR MYURL>/mustlogin" >
<table>
  <tr>
    <td align="right">Email address or User name:</td>
    <td><input type="text" name="authen_username" size="20" autofocus required /> (probably an email address)</td>
  </tr>
  <tr>
    <td align="right">Password:</td>
    <td><input type="password" name="authen_password" size="20" required /></td>
  </tr>
  <tr>
    <td> &nbsp; </td>
    <td><input type="submit" name="submit" value="Submit" /></td>
  </tr>
</table>
<input type="hidden" name="destination" value="<TMPL_VAR DESTINATION>" />
</form>
<hr/>
</body>
</html>

