<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>[% title or template.title or "Notice CRaAM" %]</title>
<link rel="stylesheet" media="all" type="text/css" href="/css/notice.css" />
<meta name="description" content="Notice CRaAM" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="keywords" content="extended, customer, resource, management, system, for, internet, companies" />
<script type="text/javascript">
<!-- //
function setFocus( field ) {
 document.loginform.authen_username.focus();
}
// --></script></head>
<body class="nomenunotice" onload="setFocus('authen_username')">
<br />
<table class="nomenunotice" id="login_form">
<tr>
<!-- did have this next td commented out but I don't remember why -->
<td class="nomenuleft"></td>
<td class="nomenuright">
<!-- Main page -->
[% INCLUDE login_form.tmpl %]
</td>
</tr>
</table>
 [% content %]
</body>
</html>
