[%- IF no_wrapper OR template.no_wrapper -%]
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>[% title or template.title or "Notice CRaAM" %]</title>
<link rel="stylesheet" href="/css/[% template.css or 'main.css' %]" />
<meta name="description" content="Notice CRaAM" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="keywords" content="extended, customer, resource, management, system, for, internet, companies" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/asset.css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<!--script src="/js/asset.js" type="text/javascript"></script-->
</head>
<body>
[% message %]
 [% content %]
</body>
</html>
[%- ELSE -%]
[%- USE date -%]
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title> [% title or template.title or "Notice CRaAM" %]</title>
<link rel="stylesheet" href="/css/[% css or 'main.css' %]" />
<meta name="description" content="IP database" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="keywords" content="extended, customer, resource, management, system, for, internet, companies" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/asset.css" />
[%- IF js.no_jquery -%]
<!-- no jQuery -->
[%- ELSE -%]
<script type="text/javascript" src="/js/jquery.js"></script>
[%- END -%]
[%- IF js.asset -%]<script src="/js/asset.js" type="text/javascript"></script>[%- END -%]
[%- IF js.hide -%]<script type="text/javascript" src="/js/jquery-ui-1.7.2.custom.min.js"></script>
    <!-- in production you probably want this next line, but when hacking Notice offline it was a pain to wait for -->
  <!--link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/jquery-ui.css" type="text/css" rel="Stylesheet" / -->
  <link href="/css/jquery-ui.css" type="text/css" rel="Stylesheet" />
<script type="text/javascript" language="javascript">   
  $(document).ready(function() {

    $(function() {
         var dates = $( "#start_date, #end_date" ).datepicker({
            defaultDate: "+1d",
            showWeek: true,
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1,
            firstDay: 1,
            onSelect: function( selectedDate ) {
                var option = this.id == "start_date" ? "minDate" : "maxDate",
                    instance = $( this ).data( "datepicker" ),
                    date = $.datepicker.parseDate(
                        instance.settings.dateFormat ||
                        $.datepicker._defaults.dateFormat,
                        selectedDate, instance.settings );
                dates.not( this ).datepicker( "option", option, date );
            }
        });

    });

    /* this can be generalised and improved - and WHY no .require in JS??*/

    $("#all_day").click(function(){
       if($(this).prop("checked")){
         $("#start_time").hide();
         $("#end_time").hide();
       }else{
         $("#start_time").show();
         $("#end_time").show();
       }
    });

    $(".show").each(function(){
      if($(this).hasClass('hideShowButton')){
        var target = '';
        for (i=0;i<24;i++){
            if($(this).hasClass('target' + i)){ 
                target = ".target" + i
            }
        }
        $(".target" + target).hide();
        $(this).html('[+]');
      }
    });
    $(".hideShowButton").click(function(){
        if($(this).hasClass('hide')){
            var target = '';
            for (i=0;i<24;i++){
                if($(this).hasClass('target' + i)){ 
                    target = ".target" + i
                }
            }
            $(".target" + target).hide();
            $(this).html('[+]').addClass("show").removeClass("hide");
        }else{
            var target = '';
            for (i=0;i<24;i++){
                if($(this).hasClass('target' + i)){ 
                    target = ".target" + i
                }
            }
            $(".target" + target).show();
            $(this).html('[&ndash;]').addClass('hide').removeClass('show');
        }});
  });
</script>
<style type="text/css">
 .hideShowButton {
   font-family:Georgia,serif;
   background-color:#ffffff;
   border-style:none;
  }
</style>
[%- END -%]
[%- IF popup; popup; END -%]
</head>

<body>
<div id="outer">
<div id="header">
  <span id="top_menu">
 <table class="headtable"><tr class="headtable">
 <td class="headtable top_logo">
  <span id="logo"> <img src="/images/top_logo.png" alt="Welcome to Notice"/> </span>
</td>
<td class="headtable"> &nbsp; </td>

<td class="headtable"> &nbsp; </td>
<!-- this really has to be generated by Notice depending on which modules are installed and what the user needs -->
<td class="headtable"> &nbsp; Search: &nbsp; </td>
[%- IF c.query.url; post_action = c.query.url; ELSE; post_action = c.query.self_url.replace('index.cgi.*', 'index.cgi'); END -%]
<td class="headtable">Person:</td><td class="headtable"> <form method="post" action="[%- post_action -%]/search/ppl">
<input type="text" maxlength="30" name="person" value=""/></form></td>
<td class="headtable">Place:</td>
<td class="headtable"><form method="post" action="[%- post_action -%]/addresses"><input type="text" maxlength="30" name="place" value=""/></form></td>
<td class="headtable"> Thing:</td><td class="headtable"><form method="post" action="[%- post_action -%]/search/thing">
<input type="text" maxlength="30" name="search" value=""/><input type="hidden" name="Search" value="thing"/></form></td>
<td class="headtable"> Appointment:</td><td class="headtable"><form method="post" action="[%- post_action -%]/calendar/search">
<input type="text" maxlength="30" name="search" value=""/><input type="hidden" name="Search" value="search"/></form></td>
<!--td class="headtable"> Email:</td><td class="headtable"><form method="post" action="email/search">
<input type="text" maxlength="30" name="search" value=""/><input type="hidden" name="Search" value="search"/></form></td-->
<!--td class="headtable"> Domains:</td><td class="headtable"><form method="post" action="domains/search">
<input type="text" maxlength="30" name="search" value=""/><input type="hidden" name="Search" value="search"/></form></td-->

<td class="headtable-links"><span class="headtable-links">
<script language="javascript">
	<!--
	function bookmarksite(title, url) {
		if (navigator.userAgent.indexOf('Opera') != -1) 
			alert("Press CTRL T to bookmark " + url);
		else if (document.all)
			window.external.AddFavorite(url, title);
		else if (window.sidebar)
			alert("Press Ctrl D to bookmark the " + url);
		else
			alert("You will have to bookmark " + url + " the long-hand way");
	}
	function clearForms(){
  // declare element type
  var type = null;
  // loop through forms on HTML page
  for (var x=0; x<document.forms.length; x++){
    // loop through each element on form
    for (var y=0; y<document.forms[x].elements.length; y++){
      // define element type
      type = document.forms[x].elements[y].type
      // alert before erasing form element
      //alert('form='+x+' element='+y+' type='+type);
      // switch on element type
      switch(type){
        case "text":
        case "textarea":
        case "password":
        //case "hidden":
          document.forms[x].elements[y].value = "";
          break;
        case "radio":
        case "checkbox":
          document.forms[x].elements[y].checked = "";
          break;
        case "select-one":
          document.forms[x].elements[y].options[0].selected = true;
          break;
        case "select-multiple":
          for (z=0; z<document.forms[x].elements[y].options.length; z++){
            document.forms[x].elements[y].options[z].selected = false;
          }
        break;
      }
    }
  }
}
	//-->
</script>
[%- USE Dumper -%]
<style type="text/css">

.helpermenu{ position: relative; z-index: 3; }
.helpermenu:hover{ position: relative; top: 0px; left: 0px; background-color: transparent; z-index: 50; }

.helpermenu span.hone{ position: absolute; background-color: lightyellow; top: 11px; right: -45px; padding: 0px; border: 1px dashed gray; visibility: hidden; color: black; text-decoration: none; }
.helpermenu:hover span.hone{ visibility: visible; position: absolute; top: 15px; right: -40px; white-space:nowrap; text-align: right; }
.helpermenu:hover span.hone:first-line{ font-size:3.5em; font-weight:bold; text-align: center;}

.helpermenu span.htwo{ position: absolute; background-color: lightyellow; top: 11px; padding: 0px; left: -270px; border: 1px dashed gray; visibility: hidden; color: black; text-decoration: none; }
.helpermenu:hover span.htwo{ visibility: visible; position: absolute; top: 10px; left: -270px; white-space:nowrap; text-align: right; }
.helpermenu:hover span.htwo:first-line{ font-size:2.5em; font-weight:bold; text-align: center;}
.headtable-helpers { margin-left: auto; margin-right: 45px; }
.helpermenu span.smallhelp { font-size:0.9em; color:#fff; font-weight:normal; }
.helpermenu span.largehelp { text-align: center; font-size:1.5em; color:#000; font-weight:bold; }

</style>
	<a href="javascript:bookmarksite('Notice','[% c.query.self_url %]')" class="navigation">(B)</a>

 <span class="helpermenu">&lt;css&gt;<span class="htwo">
      <span class="largehelp">&lt;css&gt;</span><br />
        This link lets you edit the css, (page colours and text size)<br /> for this page<br />

        (For now use the option under preferences over on the left)
</span></span> 
<a class="helpermenu navigation" id="menuthree" href="#nada" >[H]
<span class="htwo">
      <span class="largehelp"> &nbsp; &nbsp; &nbsp; Help request</span><br />
        <span class="smallhelp" style="color:#000">(User details and the location of this page will be included)</span>
      <form name="help" action="/cgi-bin/help_form" method="post">

        <table border="0">
	<tr><th colspan="2" style="text-align:right;">Options/Type</th><th style="text-align:center;">Message</th></tr>
        <tr><td>Bug:</td><td><input name="help_type" id="bug" value="bug" type="radio"></td>
        <td rowspan="5"><textarea name="help" rows="6" colls="17"></textarea><br /></td>
        </tr>
        <tr><td>Feature request:</td><td><input name="help_type" id="feature" value="feature" type="radio"></td></tr>

        <tr><td>Help:</td><td><input name="help_type" id="help" value="help" type="radio"></td></tr>
        <tr><td>Praise:</td><td><input name="help_type" id="hi5" value="hi5" type="radio"></td></tr>
        <tr><td>Other:</td><td><input name="help_type" id="other" value="other" type="radio"></td></tr>
        <tr><td colspan="2">
        <input type="submit" value="Send for help" onclick="javascript: alert(' &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Help is on the way... &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; once we read your message.. \n\n\n &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (probably tomorrow.. I would get on with something else for now)'); submitform(); clearForms(); return false;">
        <!--input type="submit" value="Send for help" onclick="javascript: alert(' &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Help is on the way... &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; once we read your message.. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;'); alert('(probably tomorrow..)'); alert('I would get on with something else for now'); submitform(); document.help.reset(); this.reset(); reset(); return false;"--> 

        <input type="hidden" name="URI" value="[% c.query.self_url OR c.query.url OR self_url %]" />
        <input type="hidden" name="ud" value="[% c.param('username') OR username %]" />
	<input type="hidden" name="subject" value="[notice] help [% c.param('known_as') OR known_as %]" />
	<input type="hidden" name="realname" value="[% c.param('known_as') OR known_as %]" />
	<input type="hidden" name="recipient" value="bugs" />
	<input type="hidden" name="email" value="[% username OR 'anonymous@'; REMOTE_ADDR -%]" />
        <input type="hidden" name="date" value="[% date.format %]" />
        </td>
	<td><input type="button" value="Clear help form" onclick="javascript:clearForms()" title="reset form" /></td></tr>
        </table>

        </form>
</span></a></span></td>
</tr>
</table>

  </span>
</div>
<div id="bodyblock">
<span class="warning">[% IF warning; '&lt;WARNING&gt;'; warning; '&lt;/WARNING&gt;'; END %]</span>
<table id="body">
<tr><td>
<div id="menu">
    Navigation:
    <ul>
        <li><a class="nowrap navigation" href="[% c.query.url || '/cgi-bin/index.cgi'%]/main">Home</a></li>
[%- FOREACH m = c.param('menu_order'); item = m; IF c.param('menu').$item AND c.param('menu').$item.value('hidden') != 1 %]
        <li><a class="nowrap [%- c.param('menu').$item.value('class') || c.param('menu').$item.class || 'navigation';
	IF c.param('mod') == c.param('menu').$item.rm; ' selected'; END #IF selected 
	-%]" href="/cgi-bin/index.cgi/[% c.param('menu').$item.value('rm') OR c.param('menu').$item.rm 
	-%]"> [% c.param('menu').$item.value('name') || c.param('menu').$item.name  %]</a> [%-
	    IF submenu.$item -%]
	        [%- "<ul>\n" #IF loop.first %]
		[% FOREACH smi IN submenu.$item; IF smi.name;  -%]
		<!-- Just for comparison, for those that wonder; Is it faster to escape TT or HTML -->
	        <!--li>[%# loop.count -%]/[%-loop.size-%][% '<a class="'; smi.class; '" href="/cgi-bin/index.cgi/'; 
			c.param('menu').$item.value('rm') OR c.param('menu').$item.rm; '/'; smi.rm; '">'; smi.name -%]</a></li -->
          [%- IF smi.indent.size -%]
            <ul>
          [%- END # IF smi.indent -%]
		   <li type="[%- smi.typei -%]">[%# loop.count;'/';loop.size;%]<a class="[%- smi.class;
	IF c.param('id') == smi.rm; ' selected'; END #IF selected -%]" href="/cgi-bin/index.cgi/
           [%- UNLESS smi.peer; c.param('menu').$item.value('rm') OR c.param('menu').$item.rm; '/'; END; smi.rm; '">'; smi.name -%]</a></li>
          [%- IF smi.indent.size -%]
            </ul>
          [%- END # IF smi.indent -%]
		[% END; END %]
		[%- "</ul>\n"# IF loop.last %]
	    [% END #submenu IF %]
[%- END; END #FOREACH -%]

[%- IF c.param('debug') -%]
        <li><a class="navigation" href="/cgi-bin/index.cgi/main/">Home</a></li>
        <li><a class="navigation" href="[% IF c; c.uri_for('/'); END %]">This Page</a></li>
        <li><a class="navigation" href="[% IF c; c.query.self_url; END %]">This Page</a></li>
[% #FOREACH mi = c.param('menu'); mi.key; IF mi.value.hidden; 'is hidden'; ELSE; '='; Dumper.dump(mi); END; '<br />';  END %]
[% IF c.param('menu').3 AND c.param('menu').3.value('hidden') != 1 %]
        <li><a class="navigation" href="/cgi-bin/index.cgi/domains/">Domains</a>
[% ELSE; Dumper.dump(c.param('menu').3) %]
[% END #IF domains %]
[% item = '17.1' %]
[% IF c.param('menu').$item AND c.param('menu').$item.value('hidden') != 1 %]
        <li><a class="navigation" href="/cgi-bin/index.cgi/email/">Email</a>
[% ELSE %]
	<li> NO EMAIL FOR YOU</li>
[% END #IF email %]
        <li><a class="navigation" href="/cgi-bin/index.cgi/assets/">Assets</a>
		<ul>
        	<li><a class="navigation" href="/cgi-bin/index.cgi/assets/list/">Full List</a></li>
		</ul>
	</li>
        <li><a class="navigation" href="/cgi-bin/index.cgi/user/">People</a>
        <li><a class="navigation" href="/cgi-bin/index.cgi/addresses/">Addresses</a>

[% END # IF debug %]
        <li><a class="navigation logout" href="[% '/cgi-bin/index.cgi' # c.query.self_url || '/cgi-bin/index.cgi'%]/logout" title="for security (and great justice)">Logout</a></li>
    </ul>
</div><!-- end menu -->
</td>
<td>
<div id="content">
    [%# Status and error messages %]
    <span class="message" id="sw_msg">[%- IF  status_msg; status_msg; ELSIF message; m = message.join(', '); m or message ; END -%]</span>
    <span class="error">[% error_msg or error %]</span>
    [% content %]
</div><!-- end content -->
</td>
</tr>
</table>
</div><!-- end bodyblock -->

<div id="footer">Copyright (c) 2007-2012 Alexx Roche [% IF page_load_time %]<span class="pageLoadTime">([% page_load_time %])</span>[% END #IF %]</div>
<!-- Template last modified [%- date.format(template.modtime) -%] -->
</div><!-- end outer -->

</body>
</html>
[% END %]
