.nowrap { white-space: nowrap; }

.select {
    padding: 5px 10px;
    display: inline;
   /*  background: #777; */
    /* background: #777 url(/images/button.png) repeat-x bottom; */
    border: none;
    /*color: #fff; */
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px #666;
}

.button {
    padding: 5px 10px;
    display: inline;
    background: #777;
    /* background: #777 url(/images/button.png) repeat-x bottom; */
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px #666;
    }
.button:hover {
    background-position: 0 -48px;
    }
.button:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    padding: 6px 10px 4px;
    }
.button.red { background-color: #e50000; }
.button.purple { background-color: #9400bf; }
.button.green { background-color: #58aa00; }
.button.orange { background-color: #ff9c00; }
.button.blue { background-color: #2c6da0; }
.button.black { background-color: #333; }
.button.yellow { background-color: #fff; color: #993; text-shadow: 1px 1px #fff; }
.button.white { background-color: #fff; color: #000; text-shadow: 1px 1px #fff; }
.button.small { font-size: 75%; padding: 3px 7px; }
.button.small:hover { background-position: 0 -50px; }
.button.small:active { padding: 4px 7px 2px; background-position: 0 top; }
.button.large { font-size: 125%; padding: 7px 12px; }
.button.large:hover { background-position: 0 -35px; }
.button.large:active { padding: 7px 12px 6px; background-position: 0 top; }

table tr.stripe {
        background: #cfF0E6;
        vertical-align:middle;
        color: #000;
        font-weight: normal;
    white-space: nowrap;
        text-align: left;
        font-family: sans-serif;
        border-style: solid;
        border-left-color: #660;
        border-right-color: #669E5D;
        border-bottom-color: #669E5D;
        border-top-color: #660;
        border-width: 1px;
        padding: 20px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 14px;
        padding-bottom: 14px;
}

table tr.strip {
        background: #F0cfE6;
        vertical-align:middle;
        color: #000;
        font-weight: normal;
    white-space: nowrap;
        text-align: left;
        font-family: sans-serif;
        border-style: solid;
        border-left-color: #660;
        border-right-color: #669E5D;
        border-bottom-color: #669E5D;
        border-top-color: #660;
        border-width: 1px;
        padding: 20px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 14px;
        padding-bottom: 14px;
}

ul li.stripe {        
        background: #F0E6cf;
        vertical-align:middle;
        color: #000;
        font-weight: bold;
    white-space: nowrap;
        text-align: left;
        font-family: sans-serif;
        border-style: solid;
        border-left-color: #660;
        border-right-color: #669E5D;
        border-bottom-color: #669E5D;
        border-top-color: #660;
        border-width: 1px;
        padding: 20px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 14px;
        padding-bottom: 14px;
 }
ul li.strip { 
        background: #E6F0cf;
        vertical-align:middle;
        color: #000;
        font-weight: bold;
        white-space: nowrap;
        text-align: left;
        font-family: sans-serif;
        border-style: solid;
        border-left-color: #660;
        border-right-color: #669E5D;
        border-bottom-color: #669E5D;
        border-top-color: #660;
        border-width: 1px;
        padding: 20px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 14px;
        padding-bottom: 14px;
}
