<t>
<en>
These are things that are happening in your area: "Nothing - you should plan something"<br>
These are the local keepers: "None - you should let them know about this site"
</en>
<fr>
    baaah le*shrug* rien
</fr>
</t>
