<t>
<ru> Dasvidania, spaciba, ya lu-bru-tibie</ru>
<en_GB>The latest news from the British Bee Keeping Society</en_GB>
<fr>Le nouvelle de la soc de apiculture de la France
 [If you need this is a real language then 
<a href="[%- c.query.url -%]/en_GB/beekeeping/national_news">Click here</a> ]
</fr>
</t>
