[% WRAPPER 'site_wrapper.tmpl' %]
 [%- USE Dumper -%]

 [%- IF accounts.size -%]
  <form method="post">
<ul>
  [%- last_tree = '0'; ac_sibling_max=0; ac_previous_min=0; ac_previous_max=0; ac_parent_min = 0; ac_parent_max = 0; -%]
  [%- # parent has to be an array; each time we go into a child group we push the parent onto the stack and each time we leave we pop it -%]
  [%- FOREACH ac = accounts -%]
    [%-  depth = 0; IF (pa_branch =  last_tree.split('\.')); depth =  pa_branch.size; END -%]
    [%- branch = 0; IF (my_branch = ac.ac_tree.split('\.')); branch = my_branch.size; END -%]
    [%- # my_branch = ac.ac_tree.match('.');  branch = my_branch.size -%]
    [%- IF branch > depth; 
        IF ac_previous_min == 0; 
            ac_parent_min = ac.ac_min - 1;
            ac_parent_max = ac.ac_min - 1;
        ELSE;
            ac_parent_min = ac_previous_min;
            ac_parent_max = ac_previous_max;
        END;
        '<ul>';
        #' paretn set'; ac_parent_min;
      ELSIF branch < depth;
        WHILE (branch < depth AND branch > 0);
            branch = branch - 3;
            # pop ac_parent
            ac_sibling_max = ac_sibling_max + 1;
            #'branch: '; branch; 'depth: '; depth;
            '</li></ul>'; 
        END;
      END; #IF ac.ac_tree.length > branch
      IF depth == 0;
        ac_previous_min = ac.ac_min - 1;
        ac_previous_max = ac.ac_max - 1;
        ac_sibling_max = ac.ac_min + 1;
      END -%]
        [%- last_tree = ac.ac_tree -%]
        [%- IF ul_stripe == 'stripe'; ul_stripe = 'strip'; ELSE; ul_stripe = 'stripe'; END -%]
        <li class="[%- ul_stripe -%]">(<a class="black" href="[%- c.query.url; '/Account/edit/'; ac.ac_id; '">'; ac.ac_id; '</a>' -%])
            <a class="blue" href="[%- c.query.url; '/Account/tree/'; ac.ac_id; '">'; ac.ac_name; '</a>' -%] { [%- ac.ac_tree -%] } 
        [%- 
            '<span class="light-grey">[['; 
                ac_parent_min; ';'; ac_parent_max; ';'; ac_sibling_max; ';';                 
            ']]</span> ';
            '<span'; IF ac.ac_min != ac_parent_min + 1 AND 
                        ac.ac_min != ac_parent_max + 1 AND 
                        ac.ac_min != ac_sibling_max + 1; ' class="red"'; ELSE; ac_previous_max = ac.ac_max; END; '>';
                
            ac.ac_min -%]</span> - [%- '<span'; 
            IF ac.ac_max > ( ( accounts.size * 2 ) + 1 ) AND
               ac.ac_max != ac_sibling_max + 2
            ; ' class="red"'; END; '>';
            ac.ac_max; '</span>';
        -%]
        [%- 
            ac_sibling_max = ac.ac_max;
            ac_previous_max = ac.ac_max;
            ac_previous_min = ac.ac_min;
        -%]
  [%- END #FOREACH -%]
</li>
</ul>
</form>
<p>
<span name="key">
Account id (ac_id) &lt; brackets<br />
Account tree {ac_tree} &lt; curly braces<br />
Account min - max &lt; number - bigger number (this is Nested sets)<br />
</span>
</p>
 [%- ELSE #IF ! accounts.size -%]
    We have no accounts listed
 [%- END #IF accounts.size -%]
 [% #Dumper.dump(accounts) %]

[% END #WRAPPER%]
