[%- WRAPPER site_wrapper.tmpl -%]
[%- IF sec.warning -%]
 [%- sec.warning -%]
[%- ELSIF ppl.defined || acl.defined || s.defined -%]
 [%- USE Dumper; #Dumper.dump(sec)  -%]
<span class="message">[%- sec.message -%]</span> 
<span class="green comment">[%- sec.comment -%]</span> 

Security? Surely this is already secure? Well we hope that the site is secure, but when you give people access you might need to keep an eye on them.
This module enables Notice to track the habits of its users and even put it checks to prevent a leak becoming a flood.

Any action in any other module can be controlled from here. How many times can a users log in. How many searches per hour can they perform.
How many accounts per week can they view or access.



<table id="people" class="fancy">
 <tbody>
        [%- # USE Dumper; '<tr><td colspan="5">'; Dumper.dump(p); '</td></tr>; -%]
[%- # USE iterator( ppl ); FOREACH p = iterator # it seems that loop.parity no longer works -%]
   [%- lparity = 'odd' -%]
    <tr>
        <th class="first">count</th>
        <th>Name</th>
        <th>Email</th>
        <th class="last">Status</th>
    </tr>
  [%- FOREACH p = ppl -%] [%- n = p.pe_id; name.$n = "$p.pe_fname $p.pe_lname" -%]
   <tr class="[%- lparity -%] [%- loop.parity -%][%- IF lparity == 'even'; lparity = 'odd'; ELSE; lparity = 'even'; END -%]">
        <td class="first">[%- loop.count; '/'; loop.size; loop.count.even -%]</td>
        <td>[%- p.pe_fname %] [% p.pe_lname -%]</td>
        <td>[%- p.pe_email -%]</td>
        [%- # We probably want to use pe_loggedin and pe_confirmed and possible the old pe_level might help -%]
        <td class="last" style="font-family: Courier, monospace;">[%- IF p.pe_passwd.match('_LOCKED$'); 'ACCOUNT Locked</td><td><form method="post"><button class="small green button" name="unlock">Unlock</button></form>'; ELSE; 'Normal User'; END -%]</span></td>
   </tr>
  [%- END -%]
 </tbody>
</table>

<form method="post"><button name="press me" value="oh noez" type="submit" class="small black button">Don't press</button></form>

This will list the general settings for this install of Notice.

<table id="acl" class="fancy">
  <tbody>
 <tr>
        <th class="first">count</th>
        <th><span title="This can be a single user/account, a group of accounts/people or Everyone">Who</span></th>
        <th><span title="S=Second,M=Minute,H=Hour,d=day,w=week,m=month,y=year">Period</span></th>
        <th><span title="how often they can do it until this is triggered">Tally</span></th>
        <th><span title="What they did">Action</span></th>
        <th><span title="optional granularity">Match</span></th>
        <th><span title="how serious is this?">Type</span></th>
        <th><span title="this is what happens">Report</span></th>
        <th class="last"><span title="This is a phrase that is used in the report">Description</span></th>
    </tr>
  [%- FOREACH ac = acl -%]
   <tr id="[%- ac.period -%]" class="period_[%- ac.period %] [% lparity %] [%- loop.parity -%][%- IF lparity == 'even'; lparity = 'odd'; ELSE; lparity = 'even'; END -%]">
        <td class="first">[%- loop.count; '/'; loop.size; loop.count.even -%]</td>
        <td class="first">[%- 
            IF ac.acid > 0; 'Acc:'; ac.acid; 
            ELSIF ac.group > 0; 'Grp:'; ac.group; 
            ELSIF ac.user > 0; pe_id = ac.user; 'Usr:'; name.$pe_id;
            ELSE; 'All'; 
            END -%]</td>
        <td class="first">[%- ac.period -%]</td>
        <td class="first">[%- ac.tally -%]</td>
        <td class="first">[%- ac.action -%]</td>
        <td class="first">[%- ac.object -%]</td>
        <td class="first">[%- ac.type -%]</td>
        <td class="first">[%- ac.report -%]</td>
        <td class="last">[%- ac.description -%]</td>
   </tr>
  [%- END -%]
 </tbody>
</table>


There will be links to set or change the configurations.

<br/>
Lists of offenders or those getting closest will be available, (though we want to restrict access to that because "Innocent until proven..")

<br/>
Obviously we will have to improve the layout of the reporting; make it searchable by user/action and constrained by date ranges, (probably defaulting to today), (because anything smaller than a day would have to be automated.)

<table id="data" class="fancy">
  <tbody>
 <tr>
        <th class="first">count</th>
        <th>Who</th>
        <th>Period</th>
        <th>Tally</th>
        <th>Action</th>
        <th>Start</th>
        <th>Last</th>
        <th class="last">Description</th>
    </tr>
  [%- FOREACH s = sec_stats -%]
   <tr class="[%- lparity -%] [%- loop.parity -%][%- IF lparity == 'even'; lparity = 'odd'; ELSE; lparity = 'even'; END -%]">
        <td class="first">[%- loop.count; '/'; loop.size; loop.count.even -%]</td>
        <td class="first">[%- peid = s.user; name.$peid %]</td>
        <td class="first">[%- s.period -%]</td>
        <td class="first">[%- s.tally -%]</td>
        <td class="first">[%- s.action -%]</td>
        <td class="first">[%- s.start -%]</td>
        <td class="first">[%- s.end -%]</td>
        <td class="last">[%- s.description -%]</td>
   </tr>
  [%- END -%]
 </tbody>
</table>

Activity house keeping will have to be added, (because we don't need to store hourly information about an activity from 15 years ago!) <br/>
Each copy of Notice will have to be set to comply with local laws in regards to the keeping of logs.

[%- END # warning -%]
[%- END # wrapper -%]
