<style type="text/css">
 td.fb { 
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px #666;
 }
 td.cv {
    color: #fff;
    background: #777;
 }
 td.holiday {
    color: #f00;
    background: #0f0;
 }
 td.away {
    color: #fff;
    background: #007;
 }

</style>
<h3>Who is off</h3>
<table border="1">
 <tbody>
    <tr>
     <th>People</th>
     <th>May 1st</th>
     <th>May 2nd</th>
     <th>May 3rd</th>
     <th>May 4th</th>
     <th>May 5th</th>
     <th>May 6th</th>
     <th>May 7th</th>
    </tr>
    <tr>
        <td>CEO</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>CFO</td>
        <td class="fb holiday">H</td>
        <td class="fb holiday">H</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Head of Sales</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="fb cv">CV</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>CTO</td>
        <td class="fb away">N/A</td>
        <td class="fb away">N/A</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

 </tbody>
</table>

<table border="1">
<tr><th> key</th><th></th></tr>
<tr><td>At work</td><td>&nbsp;</td></tr>
<tr><td>Holiday</td><td class="fb holiday">H</td></tr>
<tr><td>Away</td><td class="fb away">N/A</td></tr>
<tr><td>Client Visit</td><td class="fb cv">CV</td></tr>
<tr><td>Missing or unset</td><td class="fb"></td></tr>
</table>
