[%- js.hide = 1; js.jquery.1.3.2.min = 1 -%]
[%- WRAPPER 'site_wrapper.tmpl' -%]
        <h1>[% heading %]</h1>
        <span class="page">[% page %]</span>
        [% INCLUDE 'Notice/C/Calendar/cal_switcher.tmpl' %]
[% END %]
