<h3>Tasks</h3>
<table>
 <tbody>
    <tr>
     <th>Done</th>
     <th><a title="Priority">!</a></th>
     <th>Title</th>
     <th>Progress</th>
     <th>Due</th>
    </tr>
    <tr>
     <td></td>
     <td>~</td>
     <td>Panic</td>
     <td>25%</td>
     <td>17h00 today</td>
    </tr>
    <tr>
     <td></td>
     <td>!</td>
     <td>Eat Lunch</td>
     <td>5%</td>
     <td>12h00 today</td>
    </tr>
    <tr>
     <td></td>
     <td></td>
     <td>Write todo code</td>
     <td>2%</td>
     <td></td>
    </tr>
 </tbody>
</table>
