<style type="text/css">
 td.super {
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px #666;
 }
 td.right {
    text-align: right;
 }
</style>

<h3>Week</h3>
<table>
 <tbody>
    <tr>
     <th>Sunday</th>
     <th>Monday</th>
     <th>Tuesday</th>
     <th>Wednesday</th>
     <th>Thursday</th>
     <th>Friday </th>
     <th>Saturday</th>
    </tr>
    <tr>
        <td><span class="super right">29</span></td>
        <td><span class="super right">30 Apr</span></td>
        <td><span class="super right">1 May</span></td>
        <td><span class="super right">2</span></td>
        <td><span class="super right">3</span></td>
        <td><span class="super right">4</span></td>
        <td><span class="super right">5</span></td>
    </tr>
    <tr>
        <td><span class="super right">6</span></td>
        <td><span class="super right">7</span></td>
        <td><span class="super right">8</span></td>
        <td><span class="super right">9</span></td>
        <td><span class="super right">10</span></td>
        <td><span class="super right">11</span></td>
        <td><span class="super right">12</span></td>
    </tr>

 </tbody>
</table>
