<!DOCTYPE html>
<html>
<head>
  <title>[%- title OR 'Notice::Pages' -%]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.simpleCombo.js"></script>
  <link rel=stylesheet href="/css/pages.css" />
 [%- IF no_editor AND is_template -%]
        <script type="text/javascript">
<!--
function insertTab(o, e) {
    if(document.getElementById('tabenabled').checked){
        var kC = e.keyCode ? e.keyCode : e.charCode ? e.charCode : e.which;
        if (kC == 9 && !e.shiftKey && !e.ctrlKey && !e.altKey) {
            var oS = o.scrollTop;
            if (o.setSelectionRange){
                var sS = o.selectionStart;
                var sE = o.selectionEnd;
                o.value = o.value.substring(0, sS) + " " + o.value.substr(sE);
                o.setSelectionRange(sS + 1, sS + 1);
                o.focus();
            }else if (o.createTextRange){
                document.selection.createRange().text = " ";
                e.returnValue = false;
            }
            o.scrollTop = oS;
            if (e.preventDefault){
                e.preventDefault();
            }
            return false;
        }
    }
    return true;
}
// -->
</script>
 [%- END -%]
 [%- UNLESS no_editor -%]
  <script src="/ckeditor/ckeditor.js">
    //var editor_data = CKEDITOR.instances.editor1.getData();
    window.onload = function() {
        CKEDITOR.replace( 'editor1', { customConfig : '/ckeditor/keep_indent.js' });
    };
  </script>
  <script type="text/javascript">
    $(function() {
        // Turn selects into combo boxes
        $('select.combo').simpleCombo();
        // Show the selection
        $('select.combo')
            .closest('td').after('<td><span><\/span><\/td>').end()
            .change(function() {
                $(this).parent().next('td').find('span').text('Selection: ' + $(this).val());
            }).change();
        // hide the input text (both of these work on their own)
        $("input#template").hide();
        $("input#template").each(function(){ this.type = 'hidden' });
    });
    </script>
 [%- END # no_editor -%]
</head>
<body>
[%- page -%]
[%- warning || warn -%]
[%- message -%]
[%- error -%]
[%- USE Dumper -%]
    <form method="post">
     [%- UNLESS is_template -%]
        <p>
            <input type="hidden" name="id" value="[%- p.pa_id -%]" />
            <span class="small">Name: <input type="text" name="name" title="It has to have a name" value="[%- p.pa_name || name -%]" required />
            &nbsp; <a tabindex=99 class="red button" href="[%- c.query.url -%]/Pages/">Abandon or return to list</a>
        [%- UNLESS is_template -%]
            <input class="small [%- IF p ; 'blue'; ELSE; 'green'; END -%] button" title="save for later" type="submit" value="[%- update OR 'Save' -%]" name="update" /> &nbsp;
        [%- END # UNLESS -%]
        [%- IF admin -%]
            <input class="small [%- IF p.pa_published ; 'white'; ELSE; 'orange'; END -%] button" type="submit" title="Go live right now" value="[%- IF p.pa_published ; 'Update'; ELSE; 'Publish'; END -%]" name="publish" />
        [%- END # admin check -%]
            <br />
            </span>
     [%- END # is_template - template has the buttons at the bottom of the page -%]
            <textarea [%- IF is_template -%] onkeydown="insertTab(this, event);" [%- END -%] name="editor1" rows="37" cols="177" >[%- IF editor1; editor1.replace('% ]','%&#93;'); ELSE; p.pa_ge OR '&lt;p&gt;New Page.&lt;/p&gt;'; END -%]</textarea>
 [%- UNLESS no_editor -%]
            <script>
                [%- IF is_template; "
                CKEDITOR.config.height = 474; 
                CKEDITOR.config.fullPage = true; 
                "; ELSE -%]
                CKEDITOR.config.height = 465;
                [%- END -%]
                CKEDITOR.replace( 'editor1', { customConfig : '/ckeditor/keep_indent.js' });
            </script>
 [%- END # no_editor -%]

     [%- UNLESS is_template -%]
        </p>
     [%- END -%]
        <p>
        [%- UNLESS is_template -%]
            <input class="small [%- IF p ; 'blue'; ELSE; 'green'; END -%] button" title="save for later" type="submit" value="[%- update OR 'Save' -%]" name="update" /> &nbsp;
        [%- END # UNLESS -%]
        [%- IF admin -%]
            <input class="small [%- IF p.pa_published ; 'white'; ELSE; 'orange'; END -%] button" type="submit" title="Go live right now" value="[%- IF p.pa_published ; 'Update'; ELSE; 'Publish'; END -%]" name="publish" />
        [%- END # admin check -%]
        [%- UNLESS is_template -%]
            <br />
            <span class="x-small"><span class="under">Optional</span> Advanced settings</span><br />
            <span class="small">
            Tags: <textarea name="tags">[%- tags -%]</textarea>
                Title: <input type="text" name="title" title="defaults to the name" value="[%- p.pa_title -%]" /> &nbsp;
                Link: <input type="text" name="link" title="defaults to the name" value="[%- p.pa_link -%]" />
                Template: 
                [%- IF templates -%]
                    <select class="combo" name="templates" onchange="$('input#template').val($(this).val());">
                            <option value="">None</option>
                        [%- FOREACH t = templates -%]
                            <option value="[%- t.value -%]" [% IF t.name == p.pa_template; 'selected="selected"'; END -%]>[%- t.name -%]</option>
                        [%- END -%]
                    </select>
                    <input id="template" style="margin-left: -108px; width: 87px; height: 1.2em; border: 0;" name="template" value="[%- p.pa_template -%]" />
                [%- ELSE -%]
                     <select class="combo" name="templates" onchange="$('input#template').val($(this).val());">
                            <option value="">None</option>
                            <option value="pages.html" selected>Default (pages.html)</option>
                    </select>
                    <input id="template" style="margin-left: -163px; width: 140px; height: 1.2em; border: 0;" name="template" value="[%- p.pa_template -%]" />
                [%- END -%]
            </span>
                <br />
            <span class="x-small">
            Tags are in the form of #id,order; name,precident; .class,rank  (spaces are optional) <br />
                You can have #id,inc or #id,inc7 where you want the whole page, (or more usually a stub) to be included rather than just a link.<br />
                This is used for the copyright message in the footer.<br />
            [%- man -%]
            </span>
          [%- END # is_tempalte -%]
          [%- IF is_template -%]
            <input type="hidden" name="old_name" value="[%- name -%]" />
 <span class="small"> Template: <input type="text" name="name" title="It has to have a name" value="[%- p.pa_name || name -%]" required />
            &nbsp; or <a tabindex=99 class="red button" href="[%- c.query.url -%]/Pages/template"
                    >Abandon this TEMPLATE or return to list</a>
            </span>
            [%- IF no_editor  -%]
            Enable Tab in Text area <input id="tabenabled" type="checkbox" checked="checked" value="" name="tabenabled">
            [%- END # IF no_editor -%]
            <br />
          [%- END # IF is_template -%]

        </p>
    </form>
</body>
</html>
